**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.editorconfig
.php_cs.cache
bin/*
!bin/console
public/bundles/
var/
vendor/
*._*
.*DS_Store
.AppleDouble/
:2eDS_Store
.idea
.settings
.project
*.sublime-*
*nbproject*
.vscode
.history
